:host{
  color: white;
  margin: 0 5px;
  padding: 10px;
  min-width: 50px;
  position: relative;
  display: inline-block;
}

.background{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #999;
  position: absolute;
}

.foreground{
  z-index: 2;
  position: relative;
}

.foreground:before{
  z-index: 1;
  color: #999;
  width: 10px;
  padding: 5px;
  display: block;
  background: #fff;
  font-weight: bold;
  position: relative;
  margin: 0 auto 10px;
  content: attr(data-key);
  text-transform: lowercase;
}
