<div
  class="counter"
  *ngIf="currentState === 'COUNTDOWN'" >
  <count-down
    [startTime]="config.countDown"
    (onFinish)="onCountDown($event)">
  </count-down>
</div>

<div
  class="task"
  *ngIf="currentState === 'RUNNING'">

  <div class="table">
    <div class="cell color">
      <color
        [color]="config.colors[0]"
        [disabled]="!currentWord"
        (onSelect)="onSelectColor($event)">
      </color>
    </div>

    <div class="cell word">
      <word
        *ngIf="currentWord"
        [word]="currentWord"
        [color]="currentColor"
        (onRender)="onRenderWord($event)">
      </word>
    </div>

    <div class="cell color">
      <color
        [color]="config.colors[1]"
        [disabled]="!currentWord"
        (onSelect)="onSelectColor($event)">
      </color>
    </div>
  </div>

  <div class="result" *ngIf="currentResult !== null">
    <span  *ngIf="currentResult">Correct</span>
    <span *ngIf="!currentResult">Error</span>
  </div>

</div>

<div
  class="results"
  [innerHTML]="safeFinishHTML"
  *ngIf="currentState === 'FINISHED'">
</div>

<input type="hidden" [name]="config.hiddenInputName" [value]="resultAsString">
